
.leaderboards{
    z-index: 10;
    position: absolute;
    font-size: 1rem;
	height: 75px;
    width: 1480px;
    top:75px;
    left: 440px;
    background-color: var(--main_color);
    box-shadow: 2px 5px rgb(0, 0, 0), 6px 8px rgb(136, 136, 136);
}

.leaderboard:nth-child(1){
    width: calc(1480px);
    /* width: calc(1380px); */
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}


.header_leaderboard{
    height: 35px;
    font-weight: 900;
    font-size: 20px;  
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    background-color: var(--second_color);
    color: var(--tx_second_color);
    border-bottom: 2px white solid;
    padding-bottom: 5px;
    padding-top: 5px;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}


.leaderboard .division{
    font-size: 16px;
}

.leaderboard .repTar{
    text-align: right;
    margin: auto;
    font-size: 14px;  
    background-color: var(--second_color);
    padding-right: 10px;
}

.leaderboard .athletes {
    
    /* background-color: var(--second_color); */
    color: var(--tx_second_color);
    display: flex;
    flex-direction: row;
    font-weight: 900;
    font-size: 20px;  
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}

.leaderboard .athlete{
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10px;
    background-color: var(--main_color);
    color: var(--tx_main_color);
}

.leaderboard .athletes .ath{
    border: 3px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--height_ath);
    padding: 2px;
}

.leaderboard .athlete .rank{
    text-align: center;
    width: 45px;
    border-right: 2px solid white;
    margin: auto;
    padding: var(--padding_ath_content);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard .athlete .lane{
    text-align: center;
    width: 60px;
    max-width: 60px;
    filter: blur(0px);
    padding: var(--padding_ath_content);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard .athlete .name {
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 900;
    width: 150px;
    height: var(--height_ath_content);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard .athlete .score {
    /* haut left right bas */
    padding: 5px;
    width: 80px;
    max-width: 80px;
    text-align: center;
    border-radius: --(border);
    padding: var(--padding_ath_content);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard .athlete .flag {
    /* haut left right bas */
    padding: 5px 5px 5px 5px;
    height: var(--height_ath);
    width: 40px;
    align-items: center;
}

.leaderboard .athlete .flag .box_flag {
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rounds{
    width: 45px;
    max-width: 45px;
    text-align: center;
    background-color: white;
    padding: var(--padding_ath_content);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup{
    /* haut left right bas */
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    color: var(--tx_second_color);
    background-color: var(--second_color);
    box-shadow: 2px 5px rgb(0, 0, 0), 6px 8px rgb(136, 136, 136);
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -ms-transition-duration: 1s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard .athletes .powered{
    /* haut left right bas */
    padding: 0px 10px 0px 10px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--second_color);
    color: var(--tx_second_color);
    height: var(--height_ath);
    font-size: 12px;
    width: 300px;
}

