
.leaderboards{
    background-color: rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}

.leaderboard{
    display: flex;
    flex-direction: column;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}

.leaderboard .header{
    text-transform: uppercase;
    height: 100px;
    padding: 20px 20px;
    font-weight: 900;
    font-size: 2em; 
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--second_color);
    color: var(--tx_second_color);
    border-bottom: 2px white solid;
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}


.leaderboard .division{
    width: 15%;
}


.leaderboard #mvt{
    width: 70%;
    text-transform: capitalize;
}

.leaderboard #mvt span:first-child{
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    border: solid 5px red;
    padding: 10px;
}

.leaderboard .repTar{
    text-align: right;
    margin: auto;
    width: 15%;
    background-color: var(--second_color);
}

th, td { 
    white-space: nowrap; 
    text-align: center;
    text-transform: uppercase;
}
div.dataTables_wrapper {
    border-collapse: collapse;
    font-size: 24px;
    width: 100%;
    margin: auto;
}


.lane{
    background-color: white;
    z-index: 10;
    width: 100px;
}

.flag{
    background-color: white;
    z-index: 10;
    width: 30px;
    height: 30px;
}

.box_flag{
    z-index: 10;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.name{
    background-color: white;
    z-index: 10;
    text-align: left;
    width: 200px;
    max-width: 200px;
}

.name:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
}


.Opoint{
    width: 70px;
    max-width: 70px;
}

.Orank{
    width: 70px;
    max-width: 70px;
}

.rank{
    width: 70px;
    max-width: 70px;
}

thead .score{
    background-color: white;
}

.score{
    z-index: 10;
    width: 150px;
    max-width: 150px;
}

.popup{
    background-color: white;
    z-index: 10;
    width: 250px;
    max-width: 250px;
}

.rounds{
    background-color: white;
}

.bestStat{
    background-color: green;
    color: white;
}

.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}