button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #9aaba0;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #9aaba0;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
   }
   
   button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #9aaba0;
    z-index: -1;
   }
   
   button:hover, button:focus {
    color: white;
   }
   
   button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
   }
   
   button:active {
    transform: scale(0.9);
   }

   #startChrono{
    border: 3px solid #15e75e;
    color: #15e75e;
   }

   #startChrono::before{
    background-color: #15e75e;
   }

   #resetChrono{
    border: 3px solid #FF0072;
    color: #FF0072;
   }

   #resetChrono::before{
    background-color: #FF0072;
   }