.lowerThird{
    position: absolute;
    bottom: 150px;
    left: 210px;
    /* font-family: '../fonts/Montserrat-Bold.ttf'; */
}

.lowerThirdChildren .overall{
    width: fit-content;
    border: 3px solid black;
    font-size: 15px;
}

.lowerChild{
    width: fit-content;
    left: 210px;
    background-color: var(--main-color);
    text-transform: uppercase;
}

.benchmarkChildren{
    font-size: 12px;
    color: var(--main-color);
    margin: 0px;
    padding: 2px 2px;
}

.benchmarkChildren2{
    font-size: 12px;
    color: black;
    margin: 0px;
    padding: 2px 2px;
}

.benchmarkChildren{
    font-size: 12px;
    color: var(--main-color);
    margin: 0px;
    padding: 2px 2px;
}

.benchmarkChildren2{
    font-size: 12px;
    color: black;
    margin: 0px;
    padding: 2px 2px;
}


/* Lower third Event */

.lowerThirdEvent{
    position: absolute;
    bottom: 150px;
    /* left: 100px; */  
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* largeur obligatoire pour être centré */
}

/* Lower Third Manuel  */

.lowerThirdVoid{
    position: absolute;
    bottom: 150px;
    /* left: 100px; */  
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* largeur obligatoire pour être centré */
}

.lowerThirdChildrenVoid{
    /* font-family: montserrat; */
    margin-left:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lowerChildVoid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    left: 210px;      
}

.img_event{
    background-repeat: no-repeat;
    background-size:     contain;                      /* <------ */
    background-position: center center;              /* optional, center the image */
    background-color: rgba(0,0,0,0);
    color: var(--tx-main-color);
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
    /* border: solid 1px black; */
    width: 150px;
}

.img_sponsor{
    background-repeat: no-repeat;
    background-size:     contain;                      /* <------ */
    background-position: center center;              /* optional, center the image */
    background-color: rgba(0,0,0,0);
    color: var(--tx-main-color);
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
    /* border: solid 1px black; */
    width: 150px;
}

.sponsor{
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    object-fit: scale-down;
    height: 100px;
}

.text_lower{
    background-color: var(--main-color);
    color: var(--tx-main-color);
    height: 100px;
    width: 600px;
}

.text_lower_1{
    color: var(--tx-main-color);
    /* border-top  : 50px solid var(--main-color);
    border-right : 50px solid transparent; */
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
}
.fonction{
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eventName{

}


.names{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--second-color);
    color: var(--tx-second-color);
}


.qrcodeC{
    position: relative;
    /* left: -100px; */
    align-items: center;
    margin:auto;
    text-align:center; 
    background-color: rgba(0,0,0,0);  
}

/* Lower third wods  */

.lowerThirdWod {
    text-transform: uppercase;
    position: absolute;
    bottom: 150px;
    left: 210px;
}

.lowerThirdChildrenWod {
    /* font-family: montserrat; */
}

.lowerChildWod {
    background-color: var(--main-color);
    width: fit-content;
}

.lowerChildWod .nameLower{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.wods{
    left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: fit-content;
    border: 10px solid black;
    background-color: white;
}

.wodCol{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: fit-content;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
}

.wodCol:nth-of-type(odd){
    border-right: 1px solid #CCC;
}

.wodCol:nth-of-type(even){
    border-right: 1px solid #CCC;
}

.wodCol:last-child{
    border-right: 0px solid #CCC;
}

.wodName{
    margin: auto;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}


.wodRank{
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.wodResult{
    font-size: 12px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* athletes  */

.lowerThirdAth{
    text-transform: uppercase;
    position: absolute;
    bottom: 70px;
    left: 130px;
}

.lowerThirdChildrenAth{
    /* background-color: white; */
    /* font-family: montserrat; */
}

.lowerChildAth{
    background-color: var(--main-color);
    width: fit-content;
}

/*  Lower Thirds Youtube */

#lowerThirdYT{
    top: 70px;
    right: 100px;
    position: absolute;
}

.lowerChildYT{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.lowerThirdYT .img_event{    
    z-index:1 ;
    margin-right: -20px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size:     contain;                      /* <------ */
    background-position: center center;              /* optional, center the image */
    background-color: rgba(0,0,0,0);
    background-image: url('../img/YT_LOGO.png')
}

.textYT{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    /* border: 2px solid rgb(234, 51, 35); */
    border-radius: 10px 0px 0px 10px;
    padding-top: 5px;
    padding-left: 30px;
    color:rgba(78, 77, 77, 0.739);
    text-align: justify;
}

.namesYT{
    width: 100%;
    text-align: right;
    font-style: oblique;
    background-color: rgb(234, 51, 35);
    color: white;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius : 5px 2px 3px; 
}