
.tableur{
    position: absolute;
    top:200px;
    /* font-family: var(--family_font); */
    left: 75px;
    display: block;
    width: 700px;
    /* height: 800px; */
}

.leaderboard{
    margin-top: 12px;
    position: relative;
    display: block;
    border-collapse: separate;
    border-spacing: 0 1px ;
    width:700px;
    opacity: 90%;
}

.leaderboard thead tr th{
    font-size: 12px;
    background-color: var(--second-color);
    color: var(--tx-second-color);
    width: 110px;
    max-width: 110px;
    padding-left: 10px;
}

.leaderboard thead .rank{
    background-color: rgba(0,0,0,0);
}

.leaderboard thead .division{
    width: 150px;
    max-width: 150px;
    font-size: 16px;
}

.leaderboard thead .repTar{
    background-color: var(--second-color);
    text-align: center;
    padding-right: 5px;
    width: fit-content;
    /* border-radius: 0px 10px 10px 0px ; */
}

.athletes {

    top:-40px;
    position: relative;
}

.athletes tr {
    width: 700px;
    font-weight: 900;
    font-size: 20px;
    position: absolute;    
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    /* padding: auto; */
    opacity: 99%;
}

.leaderboard .rank{
    /* padding-right: 10px; */
    text-align: center;
    color: var(--tx-second-color);
    width: 45px;
    max-width: 45px;
    border-right: 2px solid white;
    padding-top: 2px;
    padding-bottom: 2px;
    height: var(--height_ath);
}

.leaderboard .lane{
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
    color: var(--tx-main-color);
    width: 60px;
    max-width: 60px;
    background-color: var(--main-color);
    filter: blur(0px);
    height: var(--height_ath);
}

.leaderboard .name {
    text-transform: uppercase;
    padding-left: 5px;
    font-weight: 900;
    width: 130px;
    max-width: 130px;
    color: var(--tx-main-color);
    background-color: var(--main-color);
    height: var(--height_ath);
}

.leaderboard .score {
    width: 80px;
    max-width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--tx-main-color);
    background-color: var(--main-color);
    text-align: right;
    /* border-radius: 0px 10px 10px 0; */
    border-radius: --(border);
    height: var(--height_ath);
}

.leaderboard .flag {
    padding-right: 5px;
    padding-left: 5px;
    height: var(--height_ath);
    background-color: var(--main-color);
}

.leaderboard .flag img {
    border-radius: 50px;
    height: var(--height_ath);
}

.rounds{
    width: 45px;
    max-width: 45px;
    text-align: center;
    background-color: white;
}

.popup{
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: var(--tx-main-color);
    background-color: var(--main-color);
    width: 120px;
    max-width: 120px;
    height: var(--height_ath);
    /* border-radius: 10px 10px 10px 10px; */
}

.leaderboard .powered{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    width: 200px;
    left:45px;
    color: var(--tx-main-color);
    background-color: var(--main-color);
    height: var(--height_ath);
    font-size: 12px;
}