:root {
    --main-color: rgba(0,0,0,0.9);
    --second-color: black;
    --finish-color: black;
    --firstRank-color: black;
    --secondRank-color: black;
    --thirdRank-color: black;

    --tx-main-color: white;
    --tx-second-color: white;
    --tx-finish-color: white;
    --tx-firstRank-color: white;
    --tx-secondRank-color: white;
    --tx-thirdRank-color: white;


    --transparence : 1;

    --width_rank:5%;
    --width_lane:5%;
    --width_flag:3%; 
    /* 15% */
    --width_name:70%;
    --width_max-name:70%;
    --width_affiliate:15%;
    --width_affiliate:15%;
    /* 60% + 15% = 75% */
    --width_mvt:20%;
    --width_score:10%;

  }
  
.logoBody{
    position: absolute;
    z-index: 0;
    top : 25%;
    right: 5%;
    width: 25%;
    opacity: var(--transparence);
}

@font-face {
    font-family: "bebas";
    src: url("../fonts/BebasNeue.otf");
}

@font-face {
    font-family: "strasua";
    src: url("../fonts/strasua.ttf");
}

@font-face {
    font-family: "oswald";
    src: url("../fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-Bold.ttf");
}

.table tbody {
    font-family: montserrat;
}
