.tableur{
    position: relative;
    font-family: montserrat;
    display:inline-block;
    border-collapse: separate;
    border-spacing: 0 5px; 
}

tbody td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

.leaderboard {
    width: var(--width_screen);
    font-size: 25px;
    top:-60px;
    position: relative;
    border-collapse: separate;
    border-spacing: 0 5px;
    margin: auto;
}

.athletes tr {
    position: absolute;    
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -ms-transition-duration: 1s;
}

.leaderboard #athletes .rank{
    width: var(--width_rank);
    text-align: center;
    color: var(--tx-main-color);
    border-right: 2px solid white;
    background-color: var(--main-color);
}


.leaderboard #athletes .lane{
    width: var(--width_lane);
    text-align: center;
    color: var(--tx-main-color);
    background-color: var(--main-color);
    /* background-color: aqua; */
    filter: blur(0px);
}

.leaderboard .flag {
    width: var(--width_flag);
    background-color: var(--main-color);
    text-align: center;
}

.leaderboard .flag img {
    width: 40px;
    border-radius: 50px;
}

.leaderboard #athletes .name {
    width: var(--width_name);
    max-width: var(--width_name);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--tx-main-color);
    text-transform: uppercase;
    background-color: var(--main-color);
}

.leaderboard #athletes .affiliate {
    width: var(--width_affiliate);
    max-width: var(--width_affiliate);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--tx-main-color);
    background-color: var(--main-color);
}

.leaderboard .score {
    width: var(--width_score);
    color: var(--tx-main-color);
    background-color: var(--main-color);
    text-align: center;
}

.target{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.leaderboard .rounds {
    width: 30px;
    color: var(--tx-main-color);
    background-color: var(--main-color);
    text-align: center;
}

.leaderboard .mvt{
    width: var(--width_mvt);
    border-left: 2px solid;
    text-align: center;
    background-color: var(--main-color);
    color: var(--tx-main-color);
    table-layout: fixed;
    overflow-wrap: break-word;
    text-transform: uppercase;
}