.headAthletes{
    position: absolute;
}

.athlete{
    position: relative;
    background-color: var(--back_color);
    /* width: fit-content; */
    min-width: 650px;
    padding: 0px 20px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 5px rgb(0, 0, 0), 6px 8px rgb(136, 136, 136);
    border-radius: 10px 0px 10px 0px;
}

.detailsAth{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: solid 2px white;
}

.firstAth{
    font-size: 1.6em;
    font: 800;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    background: var(--header_color) ;
    color: var(--tx_header_color);
    text-transform: uppercase;
    text-align: left;
    font-size: var(--ft_size_header);
}

.subtype{
    margin-top:5px;
    padding: 10px 20px;
    background: linear-gradient(90deg, var(--subheader_color) 0%, var(--subheader_color) 50%, var(--subheader_color) 100%);
    color: var(--tx_subheader_color);
    text-align: center;
    text-transform: uppercase;
    font-size: var(--ft_size_subheader);
}

.affiliation{
    font-style: italic;
}

.ath{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 5px;
    white-space: nowrap;
}
.ath h4{
    font-size: 1.5em;
}

.ath span{
    font-size: 1.1em;
    width: fit-content;
}

.avatar{
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.overall{
}

.wods{
    font-size: 1em;
    display: flex;
    flex-direction: row;
}

.wod{
    border-left: solid 2px white;
    border-right: solid 2px white;
    margin: 0px 5px;
    padding: 0px 5px;
    text-align: center;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
