#tableHeader{
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}
table tbody td {

    padding-top: 5px;
    padding-bottom: 5px;
  }

table thead {
    font-family: montserrat;
    font-size: 20px;
}

table tbody {
    font-family: montserrat;
}

.leaderboard #athletes tr{
    font-size: 20px;
}


.leaderboard #athletes .rank{
    width: 4%;
    text-align: center;
    color: var(--tx-main-color);
    border-right: 2px solid white;
    background-color: var(--main-color);
}


.leaderboard #athletes .lane{
    border-right: solid white 1px;
    width: 3%;
    text-align: center;
    color: var(--tx-main-color);
    background-color: var(--main-color);
    filter: blur(0px);
}

.leaderboard #athletes .name {
    padding-left: 10px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    width: 300px;
    color: var(--tx-main-color);
    background-color: var(--main-color);
}

.leaderboard #athletes .affiliate {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    width: 250px;
    color: var(--tx-main-color);
    background-color: var(--main-color);
}

.leaderboard .score {
    width: 50px;
    max-width: 50px;
    color: var(--tx-main-color);
    background-color: var(--main-color);
    text-align: center;
}

.leaderboard .flag {
    width: 5%;
    background-color: var(--main-color);
    text-align: center;
}

.leaderboard .flag img {
    width:40px;
    border-radius: 50px;
}

.leaderboard .athletes .circle_progress{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.leaderboard .athlete svg{
    height: 30px;
    width: 100%;
}

.circle{
    box-shadow: rgba(43, 43, 43, 0.2) 0px 7px 29px 0px;
}


.target{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.rounds{
    width: 30px;
    color: var(--tx-main-color);
    background-color: var(--main-color);
    text-align: center;
}

.leaderboard .mvt{
    border-left: 2px solid;
    text-align: center;
    background-color: var(--main-color);
    color: var(--tx-main-color);
    table-layout: fixed;
    overflow-wrap: break-word;
    width: 12%;
    text-transform: uppercase;
}