:root {
    --main-color: rgba(0,0,0,0.9);
    --second-color: black;
    --finish-color: black;
    --firstRank-color: black;
    --secondRank-color: black;
    --thirdRank-color: black;

    --chrono-color:white;
    --tx-chrono-color:white;

    --wod-color:white;
    --tx-wod-color:white;

    --tx-main-color: white;
    --tx-second-color: white;
    --tx-finish-color: white;
    --tx-firstRank-color: white;
    --tx-secondRank-color: white;
    --tx-thirdRank-color: white;

    --X-position-chrono: 300px;
    --X-position-heatDetails: 320px;
    --Y-position-chrono: 75px;

    --positionX_logo : 110px;
    --positionY_logo : 40px;

    --positionX_leaderboard : 200px;
    --positionY_leaderboard : 75px;

    --widthLogoEvent: 250px;
    --heigth: 29px;
    --height_ath : 60px;
    --padding_ath_content: 10px;
    --border: 0px 10px 10px 0px;

    --family_font:'Typographica';

  }


@font-face {
    font-family: "Adarsh";
    src: url("./fonts/Adarsh-Sans-Regular.otf");
}

@font-face {
    font-family: "Antonio";
    src: url("./fonts/Antonio-Regular.ttf");
}

@font-face {
    font-family: "Bebas";
    src: url("./fonts/BebasNeue.otf");
}

@font-face {
    font-family: "Circo";
    src: url("./fonts/Circo.ttf");
}

@font-face {
    font-family: "Coamei";
    src: url("./fonts/Coamei-Regular.ttf");
}

@font-face {
    font-family: "Hoop";
    src: url("./fonts/Hoop_Regular.otf");
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("./fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: "Power";
    src: url("./fonts/PowerrMedium.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Strasua";
    src: url("./fonts/strasua.ttf");
}

@font-face {
    font-family: "Typographica";
    src: url("./fonts/Typographica.ttf");
}


  body{
    font-family: var(--family_font);
    background-size: cover;
    height: 1080px;
    width: 1920px;
  }


